* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  background-color: #1F1F3D;
}

h1 {
  color: #FFF;
  font-weight: 800;
  font-size: 3em;
  margin: 16px;
}

.header__span--color {
  color: #FFC30C;
}

.header__form {
  display: flex;
  margin-top: 12px;
}

.header__img--search {
  height: 58px;
  width: 58px;
  background-color: #C8D3D9;
  padding: 14px;
  border-radius: 3px 0 0 3px
}

.header__input--search {
  height: 58px;
  border: none;
  border-radius: 0 3px 3px 0;
  margin-right: 15px;
  width: 375px;
}

main {
  display: grid;
  grid-template-columns: 34% 66%;
  height: 100%;
}

.lft__section {
  background-color: #587A8A;
}

.form {
  padding: 45px 10px 20px;
  border-bottom: 2px solid #41687A;
}

ul {
  margin: 20px 20px 30px;
}

li {
  display: flex;
  color: #F3F6F7;
  margin: 10px;
}

.li__span {
  align-self: baseline;
  margin-left: 10px;
}

.form__li--delete {
  height: 20px;
  width: 20px;
  color: #1F1F3D;
}

.form__label {
  color: #F3F6F7;
  font-size: 1.3em;
}

.form__input {
  border: 2px solid #1F1F3D;
  height: 60px;
  margin: 10px 0;
  width: 100%;
}

.form__input--title {
 border-radius: 3px; 
}

.lft__div--input-task {
  border-radius: 0 2px 2px 0;
  display: flex;
  margin-bottom: 15px;
}

.form__input--task {
  width: 86%;
}

.form__input--plus {
  height: 60px;
  margin-top: 10px;
  background-color: #1F1F3D;
  border-radius: 0 2px 2px 0;
  padding: 7px;
  width: 14%;
}

.form__btn--clear-list:disabled,
.form__btn--make-list:disabled,
.form__input--plus:disabled {
  background-color: #545472;
}

.lft__btn {
  border-radius: 2px;
  border: none;
  color: #FFF;
  background-color: #1F1F3D;
  height: 60px;
  width: 100%;
  margin: 15px 0;
  font-size: 1.4em;
}

.lft__btn: disabled {
  background-color: #3C6577;
}

.lft__btn--filter {
  border-radius: 2px;
  border: none;
  color: #FFF;
  background-color: #1F1F3D;
  height: 60px;
  font-size: 1.4em;
  margin: 44px 10px;
  width: 95%;
}

.rt__section--display {
  background-color: #F3F6F7;
  columns: 2 250px;
}

.rt__section--message {
  height: 300px;
  margin: 30px;
  border: 4px dotted #FFE69C;
  color: #FFE69C;
  padding: 30px;
  font-size: x-large;
  break-inside: avoid;
  display: inline-block;
}

.rt__aricle--card {
  border: 2px solid #C8D3D6;
  display: inline-block;
  margin:  2em;
  break-inside: avoid;
  width: 92%;
  padding: 2px;
}

h2 {
  border-bottom: 2px solid #C8D3D6;
  color: #1F1F3D;
  font-size: 1.3em;
  font-weight: 800;
  padding: 10px;
}

.card__li--unchecked {
  width: 20px;
  height: 20px;
  color: #1F1F3D;
}

.card__span {
  padding-left: 5px;
  color: #1F1F3D;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid #C8D3D6;
  height: 70px;
}


.rt__img--urgent {
  height: 30px;
  width: 30px;
  text-align: center;
}

.rt__img--delete {
  height: 27px;
  width: 27px;
  text-align: center;
  margin-top: 4px;
}

.rt__div--delete,
.rt__div--urgent {
  width: 21%;
  text-align: center;
  font-size: .7em;
  margin-top: 12px;
    
}

.rt__div--urgent p,
.rt__div--delete p {
  margin-top: 4px;
  color: #3C6577;
}

.rt__div--delete {
  margin-left: 58%;
}