* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: 68px;
  background-color: #1F1F3D;
}

h1 {
  color: #FFF;
  font-weight: 800;
  font-size: 2em;
  margin: 16px;
}

.header__span--color {
  color: #FFC30C;
}

.header__form {
  display: flex;
  margin-top: 9px;
}

.header__img--search {
  height: 48px;
  width: 50px;
  background-color: #C8D3D9;
  padding: 10px;
  border-radius: 2px 0 0 2px
}

.header__input--search {
  height: 48px;
  border: none;
  border-radius: 0 2px 2px 0;
  margin-right: 10px;
  width: 300px;
}

main {
  display: grid;
  grid-template-columns: 34% 66%;
  height: 100%;
}

.lft__section {
  background-color: #587A8A;
}

.form {
  padding: 35px 10px 20px;
  border-bottom: 2px solid #41687A;
}

ul {
  margin: 35px;
}

.form__label {
  color: #F3F6F7;
}

.form__input {
  border: 1px solid #1F1F3D;
  height: 47px;
  margin-top: 5px;
  width: 100%;
}

.form__input--title {
 border-radius: 2px; 
}

.lft__div--input-task {
  border-radius: 0 2px 2px 0;
  display: flex;
  margin-bottom: 15px;
}

.form__input--task {
  width: 86%;
}

.form__img--plus {
  height: 47px;
  margin-top: 5px;
  background-color: #1F1F3D;
  border-radius: 0 2px 2px 0;
  padding: 7px;
  width: 14%;
}

.lft__btn {
  border-radius: 2px;
  border: none;
  color: #FFF;
  background-color: #1F1F3D;
  height: 47px;
  width: 100%;
  margin: 10px 0;
  font-size: 1.4em;
}

.lft__btn--filter {
  margin: 32px 10px;
  width: 93%;
}

.rt__section--display {
  background-color: #F3F6F7;
  columns: 2 250px;
}

.rt__aricle--card {
  border: 2px solid #C8D3D6;
  display: inline-block;
  margin:  2em;
  break-inside: avoid;
  width: 90%;
  padding: 2px;
}

h2 {
  border-bottom: 2px solid #C8D3D6;
  color: #1F1F3D;
  font-size: 1.3em;
  font-weight: 800;
  padding: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid #C8D3D6;
  height: 70px;
}


.rt__img--urgent {
  height: 30px;
  width: 30px;
  text-align: center;
}

.rt__img--delete {
  height: 25px;
  width: 25px;
  text-align: center;
  margin-top: 4px;
}

.rt__div--delete,
.rt__div--urgent {
  width: 21%;
  text-align: center;
  font-size: .7em;
  margin-top: 12px;
    
}

.rt__div--urgent p,
.rt__div--delete p {
  margin-top: 4px;
  color: #41687A;
}

.rt__div--delete {
  margin-left: 58%;
}