* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  height: 88px;
  background-color: #1F1F3D;
}

h1 {
  color: #FFF;
  font-weight: 800;
  font-size: 3em;
  margin: 16px;
}

.header__span--color {
  color: #FFC30C;
}

.header__form {
  display: flex;
  margin-top: 12px;
}

.header__img--search {
  height: 58px;
  width: 58px;
  background-color: #C8D3D9;
  padding: 14px;
  border-radius: 3px 0 0 3px
}

.header__input--search {
  height: 58px;
  border: none;
  border-radius: 0 3px 3px 0;
  margin-right: 15px;
  width: 375px;
  padding-left: 10px;
  font-size: 1.5em;
}

main {
  display: grid;
  grid-template-columns: 34% 66%;
  height: 100%;
}

.lft__section {
  background-color: #587A8A;
}

.form {
  padding: 45px 10px 20px;
  border-bottom: 2px solid #41687A;
}

ul {
  margin: 20px 20px 30px;
}

li {
  display: flex;
  color: #F3F6F7;
  margin: 10px;
}

.li__span {
  align-self: baseline;
  margin-left: 10px;
  font-size: 1.4em;
}

.form__li--delete {
  height: 30px;
  width: 30px;
  color: #1F1F3D;
}

.form__label {
  color: #F3F6F7;
  font-size: 1.3em;
}

.form__input {
  border: 2px solid #1F1F3D;
  height: 60px;
  margin: 10px 0;
  width: 100%;
  padding-left: 10px;
  font-size: 1.5em;
}

.form__input--title {
 border-radius: 3px; 
}

.lft__div--input-task {
  border-radius: 0 2px 2px 0;
  display: flex;
  margin-bottom: 15px;
}

.form__input--task {
  width: 86%;
}

.form__input--plus {
  height: 60px;
  margin-top: 10px;
  background-color: #1F1F3D;
  border-radius: 0 2px 2px 0;
  padding: 7px;
  width: 14%;
}

.form__btn--clear-list:disabled,
.form__btn--make-list:disabled,
.form__input--plus:disabled {
  background-color: #545472;
}

.lft__btn {
  border-radius: 2px;
  border: none;
  color: #FFF;
  background-color: #1F1F3D;
  height: 60px;
  width: 100%;
  margin: 15px 0;
  font-size: 1.4em;
}

.lft__btn: disabled {
  background-color: #3C6577;
}

.lft__btn--filter {
  border-radius: 2px;
  border: none;
  color: #FFF;
  background-color: #1F1F3D;
  height: 60px;
  font-size: 1.4em;
  margin: 44px 10px;
  width: 95%;
}

.lft__btn--filter:hover {
  background-color: #EF4A23;
}

.rt__section--display {
  background-color: #F3F6F7;
  columns: 2 250px;
}

.rt__section--message {
  height: 300px;
  width: 92%;
  margin: 30px;
  border: 4px dotted #FFE69C;
  color: #FFE69C;
  padding: 30px;
  font-size: x-large;
  break-inside: avoid;
  display: inline-block;
}

.hidden {
  display: none;
}

.rt__article--card {
  border: 2px solid #C8D3D6;
  display: inline-block;
  margin:  1.5em;
  break-inside: avoid;
  width: 90%;
  padding: 2px;
}

h2 {
  border-bottom: 2px solid #C8D3D6;
  color: #1F1F3D;
  font-size: 1.3em;
  font-weight: 800;
  padding: 10px;
}

.card__li--unchecked {
  width: 20px;
  height: 20px;
  color: #3C6577;
  outline: none;
}

.card__span {
  padding-left: 5px;
  color: #1F1F3D;
}

.card__span--italic {
  font-style: italic;
  color: #3C6577;
}

footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 2px solid #C8D3D6;
  height: 70px;
}


.rt__img--urgent {
  height: 30px;
  width: 30px;
  text-align: center;
  outline: none;
}

.change-card {
  background-color: #FFE89D;
  border: 2px solid #FFC30C;
}

.change-card-h2 {
  border-bottom: 2px solid #FFC30C;
}

.change-card-footer {
  border-top: 2px solid #FFC30C;
}

.style-urgent-p {
  color: #B23A25;
}

.rt__img--delete {
  height: 27px;
  width: 27px;
  text-align: center;
  margin-top: 4px;
  outline: none;
}

.rt__div--delete,
.rt__div--urgent {
  width: 21%;
  text-align: center;
  font-size: .7em;
  margin-top: 12px;
    
}

.rt__div--urgent p,
.rt__div--delete p {
  margin-top: 4px;
  color: #3C6577;
}

.rt__div--delete {
  margin-left: 58%;
}

@media screen and (max-width: 900px) {

  .header__form {
    margin-top: 15px;
  }

  h1 {
    font-size: 2.5em;
    margin: 24px;
  }

  .header__img--search {
    height: 55px;
    width: 55px;
  }

  .header__input--search {
    height: 55px;
    width: 280px;
  }

  .form__input--plus,
  .lft__btn,
  .lft__btn--filter,
  .form__input {
    height: 55px;
  }

  .lft__btn--filter {
    width: 93%;
  }

  .rt__section--display {
    columns: 1;
  }
}

@media screen and (max-width: 715px) {

  header {
    display: block;
    height: 140px;
  }

  h1 {
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    font-size: 2.5em;
  }

  .header__img--search {
    height: 40px;
    width: 40px;
    margin-left: 3%;
  }

  .header__input--search {
    height: 40px;
    margin-right: 0;
    width: 95%;
  }

  .header__form {
    margin: 0 14%;
  }

  .lft__btn {
    width: 95%;
    margin: 3%;
  }

  .lft__btn--filter {
    width: 93%;
    margin: 3.7%;
  }

  main {
    display: block;
  }

  .rt__section--display {
    columns: 1;
  }

  .form__input--plus {
    margin-top: 8px;
    width: 12%;
  }

  .form__input {
    width: 95%;
    margin: 1.5% 3%;
  }

  .form__input--task {
    width: 83%;
    margin-right: 0;
  }

  .form__label {
    margin: 0 3%;
  }

  .rt__article--card {
    margin: 3% 5.5%;
  }

  @media screen and (max-width: 570px) {

    h1 {
      font-size: 2.2em;
    }

    .header__form {
      margin: 0 4%;
    }

    .header__input--search {
      width: 92%;
  }

    .form__input--plus {
      margin-top: 1.5%;
    }